{% extends 'base.html.twig' %}

{% block body %}
<div class="authentication registration edit">
    <div class="authentication-container my-5">
        <div class="content">
            <h1 class="text-center mt-4">Modification du profile</h1>
            <div class="form-container d-flex justify-content-center">
                {{ form_start(form, {'attr':{'class': 'form mt-5'}})}} 
                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <h4 class="ml-2">Photo de Profil</h4>
                        <div class="d-flex align-items-end">
                            <img class="rounded-circle mx-3" alt="" style="width: 150px; height: 150px; object-fit: cover;" 
                                 src="{{ app.user.userProfile ? asset('/uploads/' ~  app.user.userProfile.name)  : "https://img.myloview.fr/stickers/humain-homme-personne-avatar-profil-utilisateur-vector-icon-illustration-700-80657983.jpg" }}"
                            >
                        
                            {{ form_row(form.userProfile, {'attr':{'placeholder':"Importer une nouvelle photo"}})}}
                        </div>
                    </div>
                    <p class="text-right align-self-end"><span class="symbole-required">*</span> Champs obligatoires</p>
                </div>
                <fieldset class="border p-2 mb-2">
                    <legend class="w-auto">Information Personnel</legend> 
                    <div class="row pl-4 pr-4">
                        <div class="col required">
                            {{ form_row(form.firstName, { 'label':'Prénom' ,'attr':{'placeholder':"Prénom"}})}}
                        </div>
                        <div class="col required">
                            {{ form_row(form.lastName, {'label':'Nom' ,'attr':{'placeholder':"Nom"}})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.birthDate, {'label':'Date de naissance' ,'attr': {'class':'js-datepicker', 'autocomplete':'off', 'placeholder': '23-09-2000'}})}}
                        </div>
                    </div>
                    <div class="row pl-4 pr-4">
                        <div class="col">
                            {{ form_row(form.address, {'label':'Adresse' ,'attr':{'placeholder':"Adresse"}})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.city, {'label':'Ville' ,'attr':{'placeholder':"Ville"}})}}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="border p-2 mb-2">
                    <legend class="w-auto">Information du compte</legend>
                    <div class="row pl-4 pr-4">
                        <div class="col required">
                            {{ form_row(form.email, {'label':'Adresse Email' ,'attr':{'placeholder':"email@exemple.com"}})}}
                        </div>
                    </div>
                    <div class="row pl-4 pr-4">
                        <div class="col required">
                            {{ form_row(form.password, {'label':'Mot de Passe' ,'attr':{'placeholder':"Mot de passe"}})}}
                        </div>
                        <div class="col required">
                            {{ form_row(form.confirm_password, {'label':'Confirmation du mot de passe' ,'attr':{'placeholder':"Confirmation du mot de passe"}})}}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="border p-2 mb-2">
                    <legend class="w-auto">Information Pédagogique</legend>
                    <div class="row pl-4 pr-4">
                        <div class="col required">
                            {{ form_row(form.groupName, {'label':'Classe'})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.alternanceJob, {'label':'Job d\'alternance' ,'attr':{'placeholder':"Job d'alternance"}})}}
                        </div>
                    </div>
                </fieldset>
                    <button type="submit" class="btn btn-primary mt-2 w-100">Enregistrer</button>
                {{ form_end(form)}}
            </div>

        </div>
    </div>
</div>

{% block javascripts %}
<script src="{{ asset('js/images.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>
{% endblock %}

{% endblock %}