 {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset ('/css/app.css') }}">
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
<div class="authentication d-flex justify-content-center align-items-center">
    <div class="authentication-container  d-flex justify-content-center align-items-center">
        <div class="content">
            <div class="nav d-flex justify-content-end">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm custom-btn">
                        <a href="{{ path('security_login') }}">Connexion</a>
                    </button>
                    <button class="btn btn-outline-primary btn-sm">
                        <a href="{{ path('security_registration') }}">Inscription</a>
                    </button>
                </div>
            </div>
            <h1 class="text-center mt-4">Connexion</h1>

            <div class="form-container d-flex justify-content-center">
                <form action="{{ path('security_login') }}" class="form mt-5" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3 text-center">
                            Tu es connecté en tant que {{ app.user.username }}, <a href="{{ path('security_logout') }}">Se deconnecter ?</a>
                        </div>
                    {% endif %}              
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="far fa-envelope"></i>     
                          </div>
                        </div>
                        <input type="text" placeholder="Adresse email..." required name="_username" class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-lock"></i>                          </div>
                        </div>
                        <input type="password" placeholder="Mot de passe ..." required name="_password" class="form-control">
                    </div>
                    <button type="submit" class="mt-4 btn btn-primary w-100">Se connecter</button>
                    <div class="mt-5">
                        <p class="text-center">Tu n'as pas de compte ?<a href="{{ path('security_registration') }}"> Inscris-toi ici 😉</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

