 {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset ('/css/app.css') }}">
    {{ encore_entry_link_tags('app') }}
{% endblock %}



{% block body %}
<div class="authentication registration">
    <div class="authentication-container my-5">
        <div class="content">
            <div class="nav d-flex justify-content-end">
                <div class="btn-group">
                    <button class="btn btn-outline-primary btn-sm custom-btn">
                        <a href="{{ path('security_login') }}">Connexion</a>
                    </button>
                    <button class="btn btn-primary btn-sm">
                        <a href="{{ path('security_registration') }}">Inscription</a>
                    </button>
                </div>
            </div>

            <h1 class="text-center mt-4">Inscription</h1>

            <div class="form-container d-flex justify-content-center">
                {{ form_start(form, {'attr':{'class': 'form mt-5'}})}} 
                {% if app.user %}
                    <div class="mb-3 text-center">
                        Tu es connecté en tant que {{ app.user.username }}, <a href="{{ path('security_logout') }}">Se deconnecter ?</a>
                    </div>
                {% else %}
                    <div class="mb-5">
                        <p class="text-center">Tu as déjà un compte ?<a href="{{ path('security_login') }}"> Connecte toi ici 😉</a></p>
                    </div>
                {% endif %}  
                <fieldset class="border p-2 mb-2">
                    <legend class="w-auto">Information Personnel</legend> 
                    <div class="row pl-4 pr-4">
                        <div class="col">
                            {{ form_row(form.firstName, { 'label':'Prénom' ,'attr':{'placeholder':"Prénom"}})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.lastName, {'label':'Nom' ,'attr':{'placeholder':"Nom"}})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.birthDate, {'label':'Date de naissance' ,'attr': {'class':'js-datepicker', 'autocomplete':'off', 'placeholder': '23-09-2000'}})}}
                        </div>
                    </div>
                    <div class="row pl-4 pr-4">
                        <div class="col">
                            {{ form_row(form.address, {'label':'Adresse' ,'attr':{'placeholder':"Adresse"}})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.city, {'label':'Ville' ,'attr':{'placeholder':"Ville"}})}}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="border p-2 mb-2">
                    <legend class="w-auto">Information du compte</legend>
                    <div class="row pl-4 pr-4">
                        <div class="col">
                            {{ form_row(form.email, {'label':'Adresse Email' ,'attr':{'placeholder':"email@exemple.com"}})}}
                        </div>
                    </div>
                    <div class="row pl-4 pr-4">
                        <div class="col">
                            {{ form_row(form.password, {'label':'Mot de Passe' ,'attr':{'placeholder':"Mot de passe"}})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.confirm_password, {'label':'Confirmation du mot de passe' ,'attr':{'placeholder':"Confirmation du mot de passe"}})}}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="border p-2 mb-2">
                    <legend class="w-auto">Information Pédagogique</legend>
                    <div class="row pl-4 pr-4">
                        <div class="col">
                            {{ form_row(form.groupName, {'label':'Classe'})}}
                        </div>
                        <div class="col">
                            {{ form_row(form.alternanceJob, {'label':'Job d\'alternance' ,'attr':{'placeholder':"Job d'alternance"}})}}
                        </div>
                    </div>
                </fieldset>
                    {{ form_row(form.image, {'label':'Photo de Profil' ,'attr':{'placeholder':"Url de l'image"}})}}

                <button type="submit" class="btn btn-primary mt-2 w-100">S'inscrire</button>
                {{ form_end(form)}}
            </div>

        </div>
    </div>
</div>

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>
{% endblock %}

{% endblock %}