{% extends 'base.html.twig' %}


{% block title %}Hello AnnuaireController!{% endblock %}

{% block body %}
    <section class="posts justify-content-center ">
        {% for post in posts %}
            <article class="card p-3 my-2" style="width: 435px">
                <div class="d-flex flex-row">
                        <img class="rounded-circle" style="width: 45px; height: 45px;" src="{{ post.user.image ? post.user.image : "https://img.myloview.fr/stickers/humain-homme-personne-avatar-profil-utilisateur-vector-icon-illustration-700-80657983.jpg" }}" alt="profil picture">

                <div class="px-3">
                    <h5 class="mb-0">{{post.user.firstName}} {{post.user.lastName}}</h4>
                    <div class="metadata small text-muted">{{ post.createdAt | date('d/m/Y')}} à {{ post.createdAt | date('H:i')}} - <span>{{ post.user.groupName.name}}</span></div>
                </div>
                </div>
                <div class="content my-2">
                    <h6 class="card-subtitle my-2">{{ post.name }}</h6>
                    <div class="mb-2">{{ post.content }}</div>
                    <img style="width: 100%" class="img-responsive" src={{ post.image }} alt="image">
                </div>
            </article>
        {% endfor %}
    </section>
    
{% endblock %}