{% extends 'base.html.twig' %}


{% block title %}Hello AnnuaireController!{% endblock %}

{% block body %}
        <div>
            <img style="width: 200px; height: 200px; object-fit: cover;" class="card-img-top rounded-circle" src="{{ app.user.image}} responsive" alt="Card image cap">
            <h2> {{ app.user.firstName }} {{ app.user.lastName }}<h2>
            <h4 class="text-muted">{{ app.user.groupName.name }} - {{ app.user.groupName.promo }}</h3>
        </div>
    <section class="crea justify-content-center ">
        <div class="card p-3 my-2" style="width: 435px">
                 {{ include('_post_form.html.twig') }}
        </div>
    </sectiion>
    <section class="posts justify-content-center ">
        {% for post in posts %}
            {{ include('_post.html.twig')}}
        {% endfor %}
    </section>
{% endblock %}