<article class="p-3 my-2" style="width: 100%">
    <a href="{{ path('user_show',{id:app.user.id}) }}" class="d-flex text-decoration-none text-dark">
    <div class="d-flex flex-row">
        <img class="rounded-circle" style="width: 45px; height: 45px; object-fit: cover;" src="{{ app.user.image ? app.user.image : "https://img.myloview.fr/stickers/humain-homme-personne-avatar-profil-utilisateur-vector-icon-illustration-700-80657983.jpg" }}" alt="profil picture">
        <div class="px-3">
            <h5 class="mb-0 text-capitalize">{{app.user.firstName}} {{app.user.lastName}}</h4>
        </div>
    </a>
    </div>
    <div class="content my-2">
     {{ form_start(formPost) }}
 
        {{ form_row(formPost.content, {'label':false,'attr': {'placeholder': "Quoi de neuf docteur ?"}}) }}
        {{ form_row(formPost.image, {'attr': {'placeholder': "Url de l'image"}}) }}
        <input type="file" accept="image/*">importer</input>
        <button type="Submit" class="btn btn-primary mt-2">
            Publier
        </button>    

    {{ form_end(formPost) }} 
        {# <div class="mb-2">{{ app.content }}</div>
        <img style="width: 100%" class="img-responsive" src={{ post.image }} alt="image"> #}
    </div>
</article>