<article class="p-3 my-2" style="width: 100%">
    <a href="{{ path('user_show',{id:app.user.id}) }}" class="d-flex text-decoration-none text-dark">
    <div class="d-flex flex-row">
        <img class="rounded-circle" style="width: 45px; height: 45px;" src="{{ app.user.image ? app.user.image : "https://img.myloview.fr/stickers/humain-homme-personne-avatar-profil-utilisateur-vector-icon-illustration-700-80657983.jpg" }}" alt="profil picture">
        <div class="px-3">
            <h5 class="mb-0 text-capitalize">{{app.user.firstName}} {{app.user.lastName}}</h4>
        </div>
    </a>
    </div>
    <div class="content my-2">
{{ form_start(form) }}
     {{ form_row(form.content, {'label':false,'attr': {'placeholder': "Quoi de neuf docteur ?"}}) }}
    {{ form_row(form.photos, {'attr': {'placeholder': "Selectionner une image",'name': 'image[]'}}) }}

    {# Si la route est "post_edit on affiche les photos #}
	{% if app.request.attributes.get('_route') == 'post_edit' %}
        <h2>Photos</h2>
        {% for photo in post.photos %}
            <div>
                <img src="{{ asset('/uploads/' ~ photo.name) }}" alt="" width="150">

                {# On ajoute un lien permettant de supprimer une photo (sera géré en Ajax) #}
                <a href="{{ path('post_delete_photos', {id: photo.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    <button class="btn btn-primary mt-2 w-100">
        {{ button_label|default('Publier') }}
    </button>
{{ form_end(form) }}

    </div>
</article>