{% extends 'base.html.twig' %}

{% block title %}Photos index{% endblock %}

{% block body %}
    <h1>Photos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td>{{ photo.name }}</td>
                <td>
                    <a href="{{ path('photos_show', {'id': photo.id}) }}">show</a>
                    <a href="{{ path('photos_edit', {'id': photo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('photos_new') }}">Create new</a>
{% endblock %}
