{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}
    <h1>Photos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ photo.name }}</td>
            </tr>
        </tbody>
    </table>

    {# {% if photo.name %}
        {% if asset('uploads/' ~ photo.name) %}
            <img src="{{ asset('uploads/' ~ photo.name) }}" alt="post photo">
        {% else %}
            iL N'EXISTE PAS
            <img src="{{photo.name }}" alt="post photo">
        {% endif %}

    {% endif %} #}

            <img src="{{ asset('uploads/' ~ photo.name) }}" alt="post photo">

    <a href="{{ path('photos_index') }}">back to list</a>

    <a href="{{ path('photos_edit', {'id': photo.id}) }}">edit</a>

    {{ include('photos/_delete_form.html.twig') }}
{% endblock %}
