{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3">
        {{ form_start(form) }}
            {{ form_row(form.qFirstName) }}
            {{ form_row(form.qLastName) }}
            {{ form_row(form.qGroupName, {'attr':{'placeholder':"Groupe"}})}}
            <button type="submit" class="btn btn-primary w-100">Filtrer</button>
        {{ form_end(form) }}
    </div>
    <section class="users">
        <h1>Utilisateurs</h1>
        <div class="users card-container d-flex flex-row flex-wrap justify-content-center">
            {% for user in users %}
                <div class="card m-2  " style="width: 250px;">
                    {% if user.image %}
                        <img class="card-img-top" src="{{ user.image}}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="https://img.myloview.fr/stickers/humain-homme-personne-avatar-profil-utilisateur-vector-icon-illustration-700-80657983.jpg" alt="Card image cap">
                    {% endif %}
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title text-center">{{ user.firstName }} {{user.lastname}}</h5>
                        <p class="card-text text-center text-muted">{{ user.groupName.name}}-{{ user.groupName.promo }}</p>
                        <a href="{{ path('user_show',{id:user.id}) }}" class="btn btn-primary">Voir le profil</a>
                    </div>
                </div>
            {% endfor %}
        </div>
          <div class="pagination">
             {{ knp_pagination_render(users) }}
          </div>
    </section>
{% endblock %}