{% extends 'base.html.twig' %}

{% block body %}
<div class="user-profile">
    <div class="profile-header">
        <div class="profile-header-content d-flex flex-row align-items-center">
            <div class="profile-header-img p-2">
                <img style="width: 200px; height: 200px; object-fit: cover;" class="card-img-top rounded-circle" src="{{ user.userProfile ? asset('/uploads/' ~  user.userProfile.name)  : "https://img.myloview.fr/stickers/humain-homme-personne-avatar-profil-utilisateur-vector-icon-illustration-700-80657983.jpg" }}" alt="profil picture">
            </div>
        <div class="profile-header-info align-self-center p-4">
            <h2> {{ user.firstName }} {{ user.lastName }}<h2>
            <h4 class="text-">{{ user.groupName.name }} - {{ user.groupName.promo }}</h3>
        </div>
    </div>
    </div>
    <div class="flexion row justify-content-center pt-1">
        <div class="user col user-info">
            <aricle class="card my-2" style="width: 435px">
                <div class="card-header title-card-header">
                    <div class="d-flex justify-content-between">
                        <h4>
                            Info  
                        </h4>
                        <a href="{{ path('security_user_edit')}}" class=" btn btn-primary">
                            <i class="far fa-edit"></i>
                        </a>
                    </div>
                   
                </div>
                <ul class="p-3">
                    <li> <span class="text-bold">Prénom</span> : {{ user.firstName }}</li>
                    <li> <span class="text-bold">Nom</span> : {{ user.lastName }}</li>
                    <li> <span class="text-bold">Email</span> : {{ user.email }}</li>
                    <li> <span class="text-bold">Groupe</span> : {{ user.groupName.name }}</li>
                    <li> <span class="text-bold">Promo</span> : {{ user.groupName.promo }}</li>
                    <li> <span class="text-bold">Joben alternance</span>   : {{ user.alternanceJob }}</li>
                    <li> <span class="text-bold">Date de naissance</span>  : {{ user.birthDate  | date('d/m/Y') }}</li>
                </ul>
            </article>
        </div>
        <div class="user-post col justify-content-center">
            <section class="posts ">
                {% if user.posts | length < 1 %}
                    <div class="card p-3 my-2 text-center" style="width: 435px">
                        {% if  user.id == app.user.id %}
                            <p>Oh ! Tu n'as encore rien posté.<br/>
                                <a href="{{ path('post_index') }}">Lance-toi</a>
                                , n'aie pas peur 😉!
                            </p>
                        {% else %}
                            <p>Aucun Post</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% for post in user.posts %}
                    {{ include('post/_post.html.twig') }}
                {% endfor %}
            </section>
        </div>
         <div class="user col user-galerie">
            <aricle class="card my-2" style="width: 435px">
                <div class="card-header title-card-header">
                    <h4>Galérie</h4>
                </div>
                <div class="d-flex flex-wrap justify-content-around p-3">
                    {% if user.id == app.user.id and user.posts | length < 1 %}
                        <p class="text-center mt-2">
                            <a href="{{ path('post_index') }}">Publie une photo</a> 
                            dans un post pour le revoir ici 🙃
                        </p>
                    {% endif %}
                    {% for post in user.posts %}
                        {% for photo in post.photos %}
                            <img style="width: 150px; height: 150px; object-fit: cover;" class="img-responsive my-2"  src="{{ asset('uploads/' ~ photo.name) }}" alt="post photo">
                        {% endfor %}
                {% endfor %}
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}